<app-git-profile (user)='SearchTerm($event)'></app-git-profile>
<div class="container">
  <div class="userInfo">
    <img src="{{userProfile.avatar}}" alt="">
      <h2>
          {{userProfile.name}}
      </h2>
      <h4>{{userProfile.bio}}</h4>
        <a href="{{userProfile.link}}" class="btn btn-primary">View My Profile</a>
        <span class="badge">{{userProfile.repos}}</span> Repositories
  </div>
  <div class="repository">
    Repositories:
    <div *ngFor='let repo of userService.return'>
      <h2>{{repo.name}}</h2>
      <i>{{repo.description}}</i>
      <a href="{{repo.html_url}}" class="btn btn-success">View Repository</a>

    </div>
  </div>

</div>